admin/
archive/
brouillon.md
*docx
*xlsx
pratique/
presentations-brochure.md
utile.md
*/sujets/*
*pdf
*ods
*odp
*odt
*bib
*/__pycache__/
*/notices/*
M1NUM/depots-moodle/
*.ffs_db
*lock
*ppt
*pptx
*jpg
*png
*log
*aux
*gz
*mp4
*srt
*/audio/*
*zip